html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Helvetica", sans-serif;
  overflow: hidden;
  background-color: #F9F4EE;
  cursor: none;
}

/* cursor */
.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor__ball circle {
  fill: #f7f8fa;
}

/* right-bar */
section .right-container {
position: absolute;
top: 0;
left: 97%;
background-color: black;
transform: rotate(-90deg);
}

/* logo */
.logo {
  width: 13%;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  padding-top: 15rem;
}

/* nav  */
.container {
  border-right: 3px solid black;
  width: 13%;
  height: 100vh;
  position: fixed;
}
.menu-link-1{
position: absolute;
width: 119px;
height: 16px;
left: 34px;
top: 21rem;
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
display: flex;
align-items: center;
text-decoration-line: line-through;
color: #000000;
}
.menu-link-1:hover{
  -webkit-text-stroke: 1px black;
  text-decoration-line: none;
}
.menu-link-2{
position: absolute;
width: 112px;
height: 16px;
left: 32px;
top: 24rem;
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
display: flex;
align-items: center;
text-decoration-line: line-through;
color: #000000;
}

.menu-link-3{
position: absolute;
width: 144px;
height: 17px;
left: 32px;
top: 27rem;
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
display: flex;
align-items: center;
text-decoration-line: line-through;
color: #000000;
}

.menu-item {
  flex: 1;
}

.menu-left {
  text-align: left;
}

.menu-center {
  text-align: center;
}

.menu-right {
  text-align: right;
}

.menu-link {
  padding: 0 30px;
}

/* header  */

.header {
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.header-1, h1 {
position: absolute;
/* width: 1004px;
height: 203px; */
/* right: 100px;
top: 45%; */
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 88px;
line-height: 124px;
display: flex;
align-items: center;
/* letter-spacing: -0.06em; */
/* text-transform: uppercase; */
color: #000000;

}
.header-2{
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 88px;
line-height: 124px;
padding-top: 6rem;
display: flex;
align-items: center;
color: #000000;
}

/* .header-1 .letter {
  display: inline-block;
  line-height: 1em;
}
.header-2 .letter {
  display: inline-block;
  line-height: 1em;
} */

/* hero-container */

.hero-description {
  position: absolute;
  bottom: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  width: 30%;
  text-align: right;
  color: black;
  /* color: transparent; */
  /* -webkit-text-stroke: 2px rgb(165, 165, 165); */
}

.name {
  position: absolute;
  bottom: 10%;
  left: 75%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 88px;
}

/* loader  */

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 2;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
  height: 20vh;
  background: #fff;
  z-index: 2;
}
/* about */

.about-container{
  text-align: center;
  margin-top: 38rem;
}
/* media queries  */

@media (max-width: 900px) {
  .wrapper-img {
    width: 90%;
  }
  .header {
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .header h1 {
    font-size: 40px;
  }

  .projects,
  .img-nav {
    display: none;
  }
}